$bg-image-width: 100vw;
$bg-image-padding: 0;
$field-bg-color: black;
$font-style: 'Oswald', sans-serif;
$font-color: rgb(85, 78, 65);
$button-color: grey;
$button-border: black solid 1px;

body {
    background-color: rgb(0, 0, 0);
    margin: 0;
}

#legalAgePrompt {
    border: rgb(209, 209, 209) solid 1px;
    background-color: $field-bg-color;
    border-radius: 10px;
    height: 400px;
    width: 800px;
    font-family: $font-style;
    color: $font-color;
    position: absolute;
    transform: translate(70%, 50%);
    z-index: 2;
    #ageText {
        padding-left: 0px;
        text-align: center;
    }
}

#ageYes {
    padding: 10px;
    margin: 10px;
    margin-left: 230px;
    margin-top: 20px;
    width: 150px;
    font-family: $font-style;
    font-size: 120%;
    cursor: pointer;
    background-color: $button-color;
    border: $button-border;
}

#ageNo {
    padding: 10px;
    margin: 10px;
    width: 150px;
    font-size: 120%;
    font-family: $font-style;
    cursor: pointer;
    background-color: $button-color;
    border: $button-border;
}

#blackOutBlur {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: auto;
    background-color: rgba(17, 17, 17, 0.9);
}

#mainContent {
    margin: 1px;
    overflow-x: hidden;
}

#logoFade {
    padding: 0;
    #logoImage {
        height: 500px;
    }
}

#header {
    height: 500px;
    .container{
        display: flex;
        align-items: flex-start;
    }
    background-color: $field-bg-color;
}

#menu {
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    #menuOptions {
        color: $font-color;
        font-family: $font-style;
        list-style-type: none;
        font-size: 120%;
        padding: 0;
        margin: 0;
        .menuList {
            list-style: none;
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

#headerBG {
    height: 450px;
    object-fit: contain;
    overflow: hidden;
}

#pouring {
    width: $bg-image-width;
    padding-top: $bg-image-padding;
    object-position: 0px -400px;
}

#about {
    height: 900px;
    margin-top: 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: $field-bg-color;
    #aboutBG {
        height: 450px;
        object-fit: contain;
        overflow: hidden;
    }
    #textBoxAbout {
        width: 100vw;
        color: $font-color;
        font-family: $font-style;
        p {
            font-size: 120%;
        }
    }
}

#beer {
    width: $bg-image-width;
    padding-top: $bg-image-padding;
    object-position: 0px -100px;
}

#motto {
    height: 900px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: $field-bg-color;
    #mottoBG {
        height: 450px;
        object-fit: contain;
        overflow: hidden;
    }
    #textBoxMotto {
        color: $font-color;
        width: 100vw;
        font-family: $font-style;
    }
    p {
        font-size: 120%;
    }
}

#hills {
    width: $bg-image-width;
    padding-top: $bg-image-padding;
    object-position: 0px -400px;
}

#ourBeer {
    height: 1100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: $field-bg-color;
    #textBoxOurBeer {
        color: $font-color;
        width: 100vw;
        font-family: $font-style;
    }
    #ourBeerBG {
        height: 450px;
        object-fit: contain;
        overflow: hidden;
    }
    p {
        font-size: 120%;
    }
    img {
        width: $bg-image-width;
        padding-top: $bg-image-padding;
        object-position: 0px -900px;
    }
}

#footer {
    height: 900px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: $field-bg-color;
}

#footerBG {
    height: 450px;
    object-fit: contain;
    overflow: hidden;
}

#hops {
    width: $bg-image-width;
    padding-top: $bg-image-padding;
    object-position: 0px -900px;
}

#footerTextDiv {
    margin-left: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#textBoxFooterLeft {
    color: $font-color;
    font-family: $font-style;
    width: 30vw;
}

#emailInput {
    padding-left: 90px;
    margin-top: 50px;
    color: $font-color;
    width: 30vw;
}

#contactUsLabel {
    color: $font-color;
    font-family: $font-style;
    padding-left: 125px;
}

#emailInputBox {
    width: 300px;
    height: 30px;
    background-color: rgb(124, 121, 117);
}

#emailBtn {
    height: 30px;
    width: 75px;
    transform: translate(5px,3px);
    background-color: $button-color;
    border: $button-border;
    border-radius: 4px;
    font-family: $font-style;
}

#phoneNumber {
    padding-left: 110px;
}

#mapPic {
    width: 350px;
    height: 350px;
}

#locationInfo {
    color: $font-color;
    padding-left: 180px;
}

#returnSquare {
    background-color: black;
    border: $font-color solid 1px;
    border-radius: 20px;
    color: $font-color;
    height: 75px;
    width: 75px;
    position: fixed;
    cursor: pointer;
    bottom: 0;
    right: 0;
    #returnV {
        transform: translate(22%, -2%);
        font-size: 100px;
    }
}

@media only screen and (max-width: 768px) {
    img {
        width: 100%;
    }

    #header.container {
        padding: 0;
        height: 205px;
      }

    #menu {
        font-size: 80%;
    }

    #legalAgePrompt {
        max-width: 100%;
        transform: translate(0%, 0%);
        border: rgb(255, 255, 255) solid 1px;
        background-color: $field-bg-color;
        border-radius: 10px;
        font-family: $font-style;
        color: $font-color;
        position: absolute;
        z-index: 2;
        #ageYes {
            padding: 2px;
            margin: 2px;
            margin-left: 100px;
            margin-top: 20px;
            width: 75px;
            font-family: $font-style;
            font-size: 120%;
            cursor: pointer;
            background-color: $button-color;
            border: $button-border;
        }
        #ageNo {
            padding: 2px;
            margin: 2px;
            width: 75px;
            font-size: 120%;
            font-family: $font-style;
            cursor: pointer;
            background-color: $button-color;
            border: $button-border;
        }
        #ageText {
            padding-left: 0px;
            text-align: center;
            font-size: 80%;
        }
    }

    #aboutBG {
        height: 200px;
    }
}