$bg-image-width: 100vw;
$bg-image-padding: 0;
$field-bg-color: black;
$font-style: 'Oswald', sans-serif;
$font-color: rgb(216, 235, 250);

body {
    background-color: rgb(0, 0, 0);
    margin: 0;
}

#mainContent {
    margin: 1px;
    overflow-x: hidden;
}

#logoFade {
    padding: 0;
  }

#logoImage {
    height: 500px;
}

#header {
    height: 50vh;
    .container{
        display: flex;
        align-items: flex-start;
    }
    background-color: $field-bg-color;
}

#headerBG {
    height: 50vh;
    object-fit: contain;
    overflow: hidden;
}

#pouring {
    width: $bg-image-width;
    padding-top: $bg-image-padding;
    object-position: 0px -400px;
}

#about {
    height: 100vh;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: $field-bg-color;
}

#aboutBG {
    height: 50vh;
    object-fit: contain;
    overflow: hidden;
}

#textBoxAbout {
    width: 100vw;
    color: $font-color;
    font-family: $font-style;
}

#textBoxAboutP {
    font-size: 120%;
}

#beer {
    width: $bg-image-width;
    padding-top: $bg-image-padding;
    object-position: 0px -100px;
}

#motto {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: $field-bg-color;
}

#textBoxMotto {
    color: $font-color;
    width: 100vw;
    font-family: $font-style;
}

#textMottoP {
    font-size: 120%;
}

#mottoBG {
    height: 50vh;
    object-fit: contain;
    overflow: hidden;
}

#hills {
    width: $bg-image-width;
    padding-top: $bg-image-padding;
    object-position: 0px -400px;
}

#ourBeer {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: $field-bg-color;
}

#ourBeerBG {
    height: 50vh;
    object-fit: contain;
    overflow: hidden;
}

#textBoxOurBeer {
    color: $font-color;
    width: 100vw;
    font-family: $font-style;
}

#textOurBeerP {
    font-size: 120%;
}

#flight {
    width: $bg-image-width;
    padding-top: $bg-image-padding;
    object-position: 0px -900px;
}

#footer {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: $field-bg-color;
}

#footerBG {
    height: 50vh;
    object-fit: contain;
    overflow: hidden;
}

#hops {
    width: $bg-image-width;
    padding-top: $bg-image-padding;
    object-position: 0px -900px;
}

#footerTextDiv {
    margin-left: 100px;
    margin-top: 100px;
}

#textBoxFooterLeft {
    color: $font-color;
    width: 100vw;
    font-family: $font-style;
}